################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/baitaplonC#/.vs/baitaplonC#/FileContentIndex/26914511-e31e-4b5c-8617-57ecaf8c7f7d.vsidx
/baitaplonC#/.vs/baitaplonC#/FileContentIndex/2b41affb-f6df-4b30-8428-8245a962f423.vsidx
